*{
    font-family: 'Titillium Web', sans-serif;
}
.canvasLower{
    z-index: 0;
    position: absolute;
}
.canvasUpper{
    z-index: 2;
    position: absolute;
}
.taylor{
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;
}
.instructions{
    margin-top: 50px;
    margin-left: 1em;
    color: white;
    position: absolute;
    z-index: 1;
}

.projectDisplay{
    margin-left: 2em;
    color: white;
    position: absolute;
    z-index: 1;
    text-align: center;
}
.bolded{
    font-weight: bold
}
.hidden{
    opacity: 0;
    display: none;
}
ul.list li {
    list-style-type: none;
}

.touchIcons{
    position: fixed;
    z-index: 1;
    margin: 10px;
    bottom: 15px;
}

.rightArrow{
    left: 128px;
}
.upArrow{
    position: fixed;
    right: 20px;
}

.fadeIn{
	-webkit-animation: fadein 2s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s forwards; /* Firefox < 16 */
        -ms-animation: fadein 2s forwards; /* Internet Explorer */
         -o-animation: fadein 2s forwards; /* Opera < 12.1 */
            animation: fadein 2s forwards;
}

.fadeOut{
    -webkit-animation: fadeOut 2s forwards; /* Safari, Chrome and Opera > 12.1*/
       -moz-animation: fadeOut 2s forwards; /* Firefox < 16 */
        -ms-animation: fadeOut 2s forwards; /* Internet Explorer */
         -o-animation: fadeOut 2s forwards; /* Opera < 12.1 */
            animation: fadeOut 2s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Fade out*/
@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; visibility: hidden; }
}

/* Firefox < 16 */
@-moz-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; visibility: hidden; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; visibility: hidden; }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; visibility: hidden; display: none }
}

/* Opera < 12.1 */
@-o-keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; visibility: hidden; }
}